# 11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  19  16  16  16  15
1   1  15  17   1   8
2   1  13   5   8   9
3   4  19  12  13  12
4  16  10  16  18   9
5   3   9   5   2  19
6  11  14  16   3   2
7  16  19  12  10  14
8  12  10   9   2   8
9   3  13   9  16   9

Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0  16  15
3  19  12
4  10   9

Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  16  16  15
1  15   1   8
2  13   8   9
3  19  13  12
6  14   3   2
7  19  10  14
9  13  16   9

Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0  16  16  16
1  15  17   1
2  13   5   8
3  19  12  13
4  10  16  18