# 30: Akses nilai variabel pada query()

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D  E
0   4  18  18  15  3
1  11  13   6   8  2
2   9   4  19   6  2
3  11   9  10  15  6
4   3  11   2   3  6

Akses nilai variabel pada query()

In [3]:
df.query('A > 10')

    A   B   C   D  E
1  11  13   6   8  2
3  11   9  10  15  6

In [4]:
rerata = df['A'].mean()
rerata

7.6

In [5]:
df.query('A > @rerata')

    A   B   C   D  E
1  11  13   6   8  2
2   9   4  19   6  2
3  11   9  10  15  6