# 26: Membuat Data Frame dari hasil seleksi Spreadsheet

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.4.4

Membuat Data Frame dari hasil seleksi Spreadsheet

In [2]:
df = pd.read_clipboard()
df

,#26:,Membuat,Data,Frame,dari,hasil,seleksi,Spreadsheet
0,Import,Modules,None,None,None,None,None,NaN
1,import,pandas,as,pd,None,None,None,NaN
2,print(pd.__version__),None,None,None,None,None,None,NaN
3,Membuat,Data,Frame,dari,hasil,seleksi,Spreadsheet,NaN
4,df,=,pd.read_clipboard(),None,None,None,None,NaN
5,df,None,None,None,None,None,None,NaN